<div class="opener code">
	<div class="text-title">
		<h2>Kode Etik Asosiasi Real Estate Broker Indonesia</h2>
	</div>
</div>
<div class="breadcrumb has-bg greyF5">
	<div class="container">
		<div class="row">
			<ul>
				<li><a href="">Beranda</a></li>
				<li><a href="">Tentang Kami</a></li>
				<li>Visi Dan Misi</li>
			</ul>
		</div>
	</div>
</div>
<div class="section has-bg greyF5">
	<div class="container">
		<div class="tabs">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active">
					<a href="#ad" aria-controls="ad" role="tab" data-toggle="tab">AD</a>
				</li>
				<li role="presentation">
					<a href="#art" aria-controls="art" role="tab" data-toggle="tab">ART</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="code-desc has-bg white">
			<div class="row">
				<div class="col-sm-10 centered">
					<div class="tab-content adart">
						<div role="tabpanel" class="tab-pane active" id="ad">
							<h1 class="title">Anggaran Dasar AREBI</h1>
							<h5 class="std">Mukadimah</h5>
							<p>Sesungguhnya kemerdekaan Bangsa Indonesia itu sebagai rahmat Tuhan Yang mahasa Esa, merupakan penggilan, tantangan dan dorongan bagi bangsa Indonesia untuk melaksanakan suatu pekerjaan yang sangat berat tetapi amat mulia, yaitu menciptakan kemakmuran material dan spiritual yang adil bagi rakyat Indonesia.</p>
							<p>Bagi suatu organisasi profesi yang terjun ke dalam dunia usaha, sadar akan hak kewajiban, peranannya serta tanggung jawabnya kepada Nusa dan Bangsa, sebagai penerus cita-cita dan karya dari generasi terdahulu, berketetapan hati untuk memberikan darma baktinya dalam pembangunan negara menuju kepada terwujudnya kemakmuran yang adil dan merata.</p>
							<p>Meyakini bahwa kewiraswastaan adalah salah satu upaya mencapai cita-cita luhur untuk kemakmuran Nusa dan Bangsa Indonesia, yang berdasarkan Pancasila dan berlandaskan Undang-Undang Dasar 45, disamping usaha-usaha lain yang dilaksanakan secara ulet, teratur, berencana dan penuh kebijaksanaan.</p>
							<p>Maka atas Rahmat Tuhan Yang Maha Esa dan didorong oleh keinginan yang luhur untuk mencapai cita-cita tersebut diatas, kami para pengusaha jasa pemasaran property dan  real estate Indonesia yang berada dalam jajaran masyarakat pengusaha Indonesia dan dunia usaha nasional, menyatakan bersatu berhimpun dalam satu wadah organisasi “Brokerage Real Estate Indonesia” dengan Anggaran Dasar dan Anggaran Rumah Tangga sebagai berikut :</p>

							<h5>BAB I</h5>
							<h5>Nama, Waktu, Kedudukan Dan Ketentuan</h5>

							<label for="">Pasal 1</label>
							<label for="">Nama</label>
							<p class="mt0">Asosiasi ini bernama ASOSIASI REAL ESTATE BROKER INDONESIA, disingkat AREBI, yang secara resmi dalam bahasa Inggris disebut Indonesia Real Estate Broker Association.</p>

							<label for="">Pasal 2</label>
							<label for="">Waktu</label>
							<p class="mt0">AREBI didirikan di Jakarta pada tanggal 17 November 1992 untuk waktu yang tidak ditentukan lamanya.</p>

							<label for="">Pasal 3</label>
							<label for="">Kedudukan</label>
							<ol>
								<li>Organisasi tingkat pusat AREBI berkedudukan di Jakarta, Ibukota Negara Republik Indonesia.</li>
								<li>AREBI tingkat daerah berkedudukan di Ibukota Provinsi.</li>
								<li>AREBI tingkat cabang berkedudukan di Ibukota Kabupaten atau Kotamadya</li>
							</ol>

							<label for="">Pasal 5</label>
							<label for="">Ketentuan Umum</label>
							<p>AREBI adalah asosiasi perusahaan, baik badan usaha maupun perorangan, atas dasar kesamaan usaha, kegiatan dan profesi di bidang broker real estate, bersifat independen dan profesional, berbentuk kesatuan dengan ruang lingkup nasional.</p>
						</div>
						<div role="tabpanel" class="tab-pane" id="art">
							art
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>