/* CUSTOM BOOTSTRAP */

/* MAIN PAGE BACKGROUND */
.wrapper-background {
	background-image: url('../../resources/images/background/bg.jpg'); 
	background-size: cover; 
	color: #fff;
	/*width: 100%;*/
	/*height: 100%;*/
	/*padding: 55px 0 100px;*/
	padding: 50px 0 90px;
	/*background-position: bottom center;*/
}

.glyphicon:hover {
	cursor: pointer;
}

/* VERTICAL ALIGN */
.vatop {
	vertical-align: top !important;
}

/* WIDTH */
.full-width {
	width: 100%;
}

/* NAVBAR */
.navbar-inverse {
	background-color: #32322F;
	margin-bottom: 0;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	margin-left: 0;
}
a.navbar-brand {
	font-weight: 700;
	background-color: #E66909;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav > li > a:hover {
    background-color: #ED6E0C;
    cursor: pointer;
    -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
}

.navbar-inverse .navbar-nav > li > a {
    font-weight: bold;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #E66909;
  outline: 0;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #E66909;
	-webkit-transition: all .25s ease;
	 -moz-transition: all .25s ease;
	  -ms-transition: all .25s ease;
	   -o-transition: all .25s ease;
	      transition: all .25s ease;
}

/* NOTIFICATION PANEL */

#notif-panel {
	padding: 0;
}
#notif-panel > .header {
	width:100%; 
	height:auto; 
	background-color:#000000; 
	color:#FFFFFF; 
	padding:10px; 
	font-weight:bold;
}
#notif-panel ul {
	width: 400px;
	padding: 0px;
}
#notif-panel ul li {
	padding: 5px 10px; 
	cursor:pointer;
	border: 1px solid #efefef;
}
#notif-panel div.last {
	padding: 0;
	text-align: center;
	border: 0;
}
#notif-panel div.last a {
	font-size: 14px;
}
#notif-panel ul li a {
	text-decoration:none; 
	color:#000000; 
	display:block; 
	font-size:13px;
}
#notif-panel ul li span.notif-date {
	font-size: 13px; 
	margin-top: 5px;
	opacity: 0.8;
}
#notif-panel ul li:hover {
	background-color: #FAFAFA;
}

/* NOTIFICATION PAGE */
.wrapper-notification {
	background-color: #FFFFFF;
}
.wrapper-notification ul {
	padding: 0px;
}
.wrapper-notification ul li {
	padding:10px 20px;
}
.wrapper-notification ul li a {
	text-decoration: none; 
	color: #000000;
}
.wrapper-notification ul li a .notif-date {
	font-size: 13px; 
	opacity: 0.8;
}
.wrapper-notification ul li a .separator {
	margin: 10px auto 0;
}
.wrapper-notification ul li:hover {
	background-color: #FAFAFA;
}

/*.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #428bca;
  outline: 0;
}*/

/* FONT */
.fbold {
	font-weight: bold;
}

/* FORM CONTROL */
.form-control:focus {
	border-color: #E66909;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(245, 124, 2, .7);
	      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(245, 124, 2, .7);
}

/* BUTTON */
.btn-orange {
  color: #FFFFFF;
  background-color: #E66909;
  /*border-color: #ED7309;*/
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
  color: #FFFFFF;
  background-color: #ED6E0C;
  /*border-color: #285e8e;*/
}
.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
  background-image: none;
}
.btn-orange.disabled,
.btn-orange[disabled],
fieldset[disabled] .btn-orange,
.btn-orange.disabled:hover,
.btn-orange[disabled]:hover,
fieldset[disabled] .btn-orange:hover,
.btn-orange.disabled:focus,
.btn-orange[disabled]:focus,
fieldset[disabled] .btn-orange:focus,
.btn-orange.disabled:active,
.btn-orange[disabled]:active,
fieldset[disabled] .btn-orange:active,
.btn-orange.disabled.active,
.btn-orange[disabled].active,
fieldset[disabled] .btn-orange.active {
  background-color: #D1873D;
  /*border-color: #357ebd;*/
}
.btn-orange .badge {
  color: #D1873D;
  background-color: #fff;
}

/* FONT */

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url('../fonts/custom/font_1.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  /*min-height: 900px;*/
  padding-top: 50px;
  background-color: #e7e7e9;
  font-size: 1.4em; /* currently ems cause chrome bug misinterpreting rems on body element */
  /*line-height: 1.6;*/
  font-weight: 500;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*color: #222; */
  /*font-family: sans-serif;*/
  /*font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;*/
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

/* BACKGROUND */
.bg-white {
	background-color: #FFFFFF;
}
.bg-orange {
	background-color: #E66909;
}

/* Error */
.error-message {
	color: #C30F0F !important;
	display: block;
}

.form-control {
	border-radius: 0;
}

/* Overlay for Loading */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1042;
	opacity: 1;
	background: rgba(0,0,0,0.5);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Modal Bootstrap - Set zindex so it will on behind of the overlay */
.modal {
	z-index: 1041;
}

.bs-docs-footer {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #2a2730;
}
.bs-docs-footer a {
	color: #FFFFFF;
}

/* BORDER */
.with-border {
	border: 1px solid #efefef;
}
.with-border-right {
	border-right: 1px solid #efefef;
}
.no-border {
	border: transparent !important;
}
.no-radius {
	border-radius: 0px !important;
}

/* MARGIN */
.no-mg {
	margin: 0 !important;
}
._mt5 {
	margin-top: -5px !important;
}
._mt7 {
	margin-top: -7px !important;
}
.mt3 {
	margin-top: 3px !important;
}
.mt5 {
	margin-top: 5px !important;
}
.mt10 {
	margin-top: 10px !important;
}
.mt15 {
	margin-top: 15px !important;
}
.mt20 {
	margin-top: 20px !important;
}
.mt50 {
	margin-top: 50px !important;
}
.mb5 {
	margin-bottom: 5px !important;
}
.mb10 {
	margin-bottom: 10px !important;
}
.mb15 {
	margin-bottom: 15px !important;
}
.mb20 {
	margin-bottom: 20px;
}
.mb40 {
	margin-bottom: 40px;
}
.mr5 {
	margin-right: 5px;
}
.mr10 {
	margin-right: 10px;
}
.ml5 {
	margin-left: 5px !important;
}

/* PADDING */
.no-pd {
	padding: 0;
}
.pd5 {
	padding: 5px;
}
.pd10 {
	padding: 10px;
}
.pd15 {
	padding: 15px;
}
.pd20 {
	padding: 20px;
}

.pt15 {
	padding-top: 15px;
}

.pb20 {
	padding-bottom: 20px;
}

/* LIST STYLE */
.no-ul-type {
	list-style-type: none;
}

/* TEXT ALIGN */
.taleft {
	text-align: left !important;
}
.tacenter {
	text-align: center;
}
.taright {
	text-align: right;
}
.tajustify {
	text-align: justify;
}

/* WIDTh */
.extra-small-width {
	width: 4%;	
}

/* CURSOR */
.cpointer {
	cursor: pointer;
}

/* PAGE INDEX - FOOD LIST */
.wrapper-food-list > .header {
	height:50px; 
	padding:5px 10px;
}
.wrapper-food-list > .content {
	width:100%; 
	height:auto; 
	display:block;
}
.wrapper-food-list > .content > ul {
	padding:10px 5px 10px 15px;
}
.wrapper-food-list > .content > ul > li {
	width:auto;
	max-width: 280px; 
	height:275px; 
	display:inline-block; 
	margin:12px; 
	border-radius:3px;
}
.wrapper-food-list > .content > ul > li:hover{
	opacity: 0.8;
}
.wrapper-food-list > .content > ul > li .box-header {
	width:100%; 
	height:170px; 
	display:block; 
	border-bottom:1px solid #efefef;
}
.wrapper-food-list > .content > ul > li .box-header > img {
	/*width:inherit; */
	/*height:inherit;*/
	width: 100%;
	height: inherit;
}
.wrapper-food-list > .content > ul > li .box-content {
	width:100%; 
	height:56px; 
	display:flex; 
	padding:10px;
	color: #000000;
	text-align: left;
	overflow: hidden;
    text-overflow: ellipsis;
}
.wrapper-food-list > .content > ul > li .box-content > h4 {
	line-height:2.2rem;
}
.wrapper-food-list > .content > ul > li .box-footer {
	width:100%; 
	height:40px; 
	display:block; 
	padding:10px; 
	border-top:1px solid #efefef;
	color: #FFFFFF;
}
.wrapper-food-list > .content > ul > li .box-footer img {
	width:20px; 
	height:15px; 
	display:inline;
}
.wrapper-food-list > .content > ul > li .box-footer span {
	display: inline;
	padding-left: 3px;
}

/* PAGE FIND - FOOD LIST */
.wrapper-food-list-vertical > .content > ul > li .box-header:hover {
	opacity: 0.8;
}
.wrapper-food-list-vertical > .header {
	height:50px; 
	padding:5px 10px;
}
.wrapper-food-list-vertical > .content {
	width:100%; 
	height:auto; 
	display:block;
	background-color: #FFFFFF; 
}
.wrapper-food-list-vertical > .content > ul {
	padding:10px;
}
.wrapper-food-list-vertical > .content > ul > li {
	/*width:280px;*/
	width:100%; 
	/*height:235px;*/
	height:auto; 
	display:inline-block; 
	/*margin:12px; */
	border-radius:3px;
	padding: 0 15px;
	margin: 15px auto;
	border-bottom: 1px solid #efefef;
}
.wrapper-food-list-vertical > .content > ul > li .box-header {
	width:100%; 
	height:170px; 
	display:block; 
	border-bottom:1px solid #efefef;
	text-align: center;
}
.wrapper-food-list-vertical > .content > ul > li .box-header > img {
	width:auto; 
	height:100%;
	max-width: 275px;
}
.wrapper-food-list-vertical > .content > ul > li .box-content {
	width:100%; 
	height:60px; 
	display:flex; 
	padding:10px;
}
.wrapper-food-list-vertical > .content > ul > li .box-content > h4 {
	line-height:2.2rem;
}
.wrapper-food-list-vertical > .content > ul > li .box-footer {
	width:100%; 
	height:40px; 
	display:block; 
	padding:10px;
	margin-top: 5px;
	/*border-top:1px solid #efefef;*/
}
.wrapper-food-list-vertical > .content > ul > li .box-footer img {
	width:20px; 
	height:15px; 
	display:inline;
}
.wrapper-food-list-vertical > .content > ul > li .box-footer span {
	display: inline;
	padding-left: 3px;
}
.wrapper-food-list-vertical > .content .right-side a {
	display: block;
}
.wrapper-food-list-vertical > .content .right-side > .box-description {
	position: relative;
	height: 210px;
}
.wrapper-food-list-vertical > .content .right-side > .box-description p {
	margin: 0;
}
.wrapper-food-list-vertical > .content .right-side > .box-description p.description {
	width: auto;
	height: 60px;
	white-space: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: justify;
}
.wrapper-food-list-vertical > .content .right-side > .box-description .action-bottom a {
	display: inline-block;
	color: #000000;
}
.wrapper-food-list-vertical > .content .right-side > .box-description .action-bottom a:hover {
	text-decoration: none;
}
.wrapper-food-list-vertical > .content .right-side > .box-description .action-bottom img {
	width:20px; 
	height:15px; 
	display:inline;
}

/* RECIPE DETAIL */
.detail-recipe-header .wrapper img {
	width:20px; 
	height:15px; 
	display:inline;
}
.detail-recipe-header .wrapper span {
	display: inline;
	padding: 5px;
}
.detail-recipe-header .wrapper p {
	margin: 0;
}

.detail-recipe-banner .wrapper-banner img {
	width:auto; 
	max-width: 475px;
	/*max-height:545px;*/
	/*height: 100%;*/
}
.detail-recipe-banner .wrapper .action-bottom img {
	width:20px; 
	height:15px; 
	display:inline;
}
.detail-recipe-banner .wrapper .action-bottom a {
	color: #000000;
}
.detail-recipe-banner .wrapper .action-bottom a:hover {
	text-decoration: none;
}

.detail-recipe-content .wrapper .action-bottom a {
	color: #000000;
}
.detail-recipe-content .wrapper .action-bottom a:hover {
	text-decoration: none;
}
.detail-recipe-content .wrapper .wrapper-bottom > ul > li {
	position: relative;
	height: auto;
	padding: 8px 5px;
}
.detail-recipe-content .wrapper .wrapper-bottom > ul > li > .wrapper-icon {
	height:auto; 
	width:35px; 
	display:inline-block;
}
.detail-recipe-content .wrapper .wrapper-bottom > ul > li > .wrapper-icon img {
	position:absolute; 
	top:0; 
	bottom:0; 
	margin:auto;
	width:30px; 
	height:30px; 
}
.detail-recipe-content .wrapper .wrapper-bottom > ul > li > .wrapper-description {
	height:auto; 
	width:auto; 
	/*display:inline-block;*/
	padding-left: 50px;
}

.detail-recipe-content .wrapper table tbody tr td:first-child {
	white-space: nowrap;
}
.detail-recipe-content .wrapper ol li {
	margin: 20px auto;
}
.detail-recipe-content .wrapper ol li img {
	margin: 20px auto;
	max-width:100%;
	height:auto;
}
.detail-recipe-content .wrapper .action-bottom img {
	width:20px; 
	height:15px; 
	display:inline;
}

.comment-box .wrapper .media p {
	margin: 0;
}
.comment-box .wrapper .media p.comment {
	border-bottom: 1px solid #efefef;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/* Ads */
.wrapper-ads {
	text-align: center;	
}
.wrapper-ads img {
	max-width:100%;
	height:auto;
}

/* PAGE ADD RECIPE */
.wrapper-create-recipe form label {
	text-align: left !important;
}
.wrapper-create-recipe form .list-material .icon-holder .glyphicon, .wrapper-create-recipe form .list-step .icon-holder .glyphicon {
	font-size: 20px;
    margin-top: 6px;
    margin-right: 3px;
}

/* PAGE ADD ARTICLE */
.wrapper-create-article form label {
	text-align: left !important;
}

/* PAGE ARTICLE */
#article-list.wrapper-food-list-vertical > .content .right-side > .box-description p.description {
	height: 82px !important;
}

/* PAGE DETAIL ARTICLE */
#article-detail img {
	max-width: 100%;
}

/* PAGE MY RECIPE */
#my-recipe.wrapper-food-list-vertical > .content .right-side > .box-description p.description {
	height: 100px;
}

/* PAGE RECOOK */
#recook.wrapper-food-list-vertical > .content .right-side > .box-description a {
	display: inline-block;
}
#recook.wrapper-food-list-vertical > .content .right-side > .box-description p.description {
	height: 115px;
}

/* PAGE RECOOK */
#cookmark.wrapper-food-list-vertical > .content .right-side > .box-description h4 {
	display: inline-block;
}
#cookmark.wrapper-food-list-vertical > .content .right-side > .box-description a {
	display: inline-block;
}
#cookmark.wrapper-food-list-vertical > .content .right-side > .box-description p.description {
	height: 95px;
}

/* PAGE ABOUT US */
.wrapper-about-us > .header {
	height:70px; 
	padding:15px;
}
.wrapper-about-us > .content {
	width:100%; 
	height:auto; 
	display:block;
	padding:0 20px 20px;
	line-height: 24px;
}

/* PAGE CONTACT US */
.wrapper-contact-us > .header {
	height:70px; 
	padding:15px;
}
.wrapper-contact-us > .content {
	width:100%; 
	height:auto; 
	display:block;
	padding:0 20px;
	line-height: 24px;
}
.wrapper-contact-us .form-group {
	margin-left: 0;
	margin-right: 0;
}

/* PAGE TERMS OF USE */
.wrapper-terms-of-use > .header {
	height:70px; 
	padding:15px;
}
.wrapper-terms-of-use > .content {
	width:100%; 
	height:auto; 
	display:block;
	padding:0 20px;
	line-height: 24px;
}
.wrapper-terms-of-use > .content p {
	text-align: justify;
}

/* PAGE PRIVACY POLICY */
.wrapper-privacy-policy > .content {
	width:100%; 
	height:auto; 
	display:block;
	padding:20px;
	line-height: 24px;
}
.wrapper-privacy-policy > .content p {
	text-align: justify;
}

/* MODAL LOGIN */
.wrapper-facebook {
	width:100%; 
	height:50px; 
	background-color:#283F6D;
}
.wrapper-facebook .wrapper-inner {
	width: 100%; 
	color: #FFFFFF;
	line-height: 45px; 
	text-align:center;
}

.wrapper-facebook:hover {
	background-color: #3C579C !important;
	-webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease; 
}

/* USER PUBLIC PROFILE */
.wrapper-popular-user p {
	margin: 0;
	font-size: 14px;
}
.wrapper-popular-user p.stats {
	font-size: 13px;
	opacity: 0.8;
}

.wrapper-popular-user ul li {
	margin-bottom: 15px;
}

.wrapper-popular-user ul li a img {
	width: 64px;
	height: 40px;
}

.wrapper-public-profile ul li {
	margin-bottom: 15px;
}
.wrapper-public-profile .box-header {
	width: 100%; 
	height: 115px; 
	display: block; 
	text-align: center;
}
.wrapper-public-profile .box-header img {
	height:127px; 
	width:auto;
}
.wrapper-public-profile .box-footer {
	width: 100%; 
	height: 40px; 
	display: block; 
	padding: 10px; 
	margin-top: 5px;
}
.wrapper-public-profile .box-footer img {
	width:20px; 
	height:15px; 
	display:inline;
}
.wrapper-public-profile .box-footer span {
	padding-left: 3px;
}
.wrapper-public-profile .box-description .title {
    text-overflow: ellipsis;
    height: 20px;
    overflow: hidden;
}
.wrapper-public-profile .box-description p.stats {
	font-size:13px;
}
.wrapper-public-profile .box-description p.description {
	text-overflow: ellipsis; 
	width: auto; 
	overflow: hidden; 
	height: 40px; 
	text-align: justify;
}
.wrapper-public-profile .box-description .action-bottom a {
	display:inline-block;
	color: #000000;
}
.wrapper-public-profile .box-description .action-bottom img {
	width: 20px; 
	height: 15px; 
	display: inline;
}

/* MODAL RECOOK */
.modal-recook .wrapper-recook-photo {
	width:100%; 
	height:auto; 
	min-height:200px; 
	position:relative;
	margin-top: 15px;
	text-align: center;
}
.modal-recook .wrapper-recook-photo .wrapper > div {
	position:absolute; 
	left:50%; 
	top: 40%; 
	opacity:0.5; 
	transform: translate(-50%, -50%);
}
.modal-recook .wrapper-recook-photo .wrapper > div > span.glyphicon {
	font-size:74px;
}
.modal-recook .wrapper-recook-photo .text-wrapper {
	margin-top:20px;
	margin-bottom: 20px;
}
.modal-recook .wrapper-recook-photo .text-wrapper p {
	margin: 0;
}

/* MODAL VIEW RECOOK - PENDING */
#modal-view-recook .big-wrapper .wrapper-left {
	height: 300px;
    text-align: center;  /* align the inline(-block) elements horizontally */
}
#modal-view-recook .big-wrapper .wrapper-left:before {
	content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%; 
}
#modal-view-recook .big-wrapper .wrapper-left img {
	display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
}

/* PAGE DETAIL - CAROUSEL LEFT SIDE */
/*.detail-recipe-content .carousel-inner .active.left { left: -50%; }*/
/*.detail-recipe-content .carousel-inner .next        { left:  50%; }*/
/*.detail-recipe-content .carousel-inner .prev		 { left: -50%; }*/
/*.detail-recipe-content .carousel-control 			 { width:  4%; }*/
/*.detail-recipe-content .carousel-control.left, .detail-recipe-content .carousel-control.right {margin-left:15px;background-image:none;}*/


/* PAGE DETAIL - MODAL VIEW RECOOK -CAROUSEL BOTTOM */
.carousel-inner .active.left { left: -50%; }
.carousel-inner .next        { left:  50%; }
.carousel-inner .prev		 { left: -50%; }
.carousel-control 			 { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}

/*#modal-view-recook .carousel-inner .active.left { left: -20%; }
#modal-view-recook .carousel-inner .next        { left:  20%; }
#modal-view-recook .carousel-inner .prev		 { left: -20%; }
#modal-view-recook .carousel-control 			 { width:  4%; }
#modal-view-recook .carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}*/

/* PAGINATION */
ul.pagination {
	margin: 0 auto 20px;
}
.pagination li {
	display: block;
	margin-right: 5px;
	vertical-align: bottom;
	float: left;
}
.pagination li a {
	display: block;
	padding: 5px 13px;
	color: #999999;
	background-color: #e6e6e6;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.pagination li a:hover, .pagination li a:focus {
	color: #FFFFFF;
	background-color: #cccccc;
	border-color: #c9c9c9;
}
.pagination li a.active {
	color: #FFF;
	background-color: #ED6E0C;
	border-color: #ED6E0C;
}
.pagination li span.ellipsis {
	display: block;
	color: #666666;
	padding: 8px 5px 0;
	font-weight: 700;
}

.page-break {
	page-break-before: always;
}

.mobile-only {
	display: none !important;
}

/* RESPONSIVE */
@media (max-width: 375px) {
	.wrapper-food-list .wrapper-text {
		font-size: 18px;
	}

	/* PAGE ARTICLE */
	#article-list.wrapper-food-list-vertical > .content .right-side > .box-description .header-text {
		margin-top: 0px !important;
	}

	.wrapper-food-list > .content > ul > li .box-header > img {
		width: 100% !important;
	}
}
@media (max-width: 428px) {
	.wrapper-profile .wrapper-photo img {
		max-height: 170px !important;
		max-width: 230px !important; 
	}

	.wrapper-food-list-vertical > .content > ul > li .box-header > img {
		width: 100%;
		height: auto;
		max-width: 240px;
    	max-height: 170px;
	}

	.wrapper-create-recipe .list-material.holder-template .col-xs-4 {
		width: 92%;
		text-align: right;
	}
	.wrapper-create-recipe .list-material.holder-template .col-xs-2 {
		width: 83.33333333%;
		padding: 0 15px !important;
	}
	.wrapper-create-recipe .list-material.holder-template .custom-field {
		width: 83.33333333%;
		padding: 0 15px !important;
		margin-left: 30px;
		margin-top: 10px;
	}
}

@media (max-width: 767px) {
	.desktop-only {
		display: none !important;
	}
	.mobile-only {
		display: block !important;
	}
	.search-box form .row .row-centered {
    	text-align:center;
	}

	.search-box form .row .col-centered {
	    display:inline-block;
	    float:none;
	    /* reset the text-align */
	    text-align:left;
	    /* inline-block space fix */
	    margin-right:-4px;
	    margin: 6px auto;
	}

	.wrapper-food-list .content {
		text-align: center;
	}

	.wrapper-background {
		padding: 30px 0;
	}

	.wrapper-ads {
		padding-top: 10px;
	}

	.detail-recipe-banner .wrapper-banner img {
		width: 100%;
		height: auto;
	}

	.wrapper-food-list-vertical ul li .box-description {
		height: auto !important;
	}

	.wrapper-food-list-vertical ul li .box-description p.description {
		height: auto !important;
	}

	.wrapper-food-list-vertical ul li .box-description .action-bottom {
		margin-bottom: 15px;
	}

	.wrapper-profile .wrapper-photo img {
		width: auto !important;
	}

	.wrapper-profile .btn.btn-orange {
		width: 100%;
	}

	.wrapper-create-recipe .btn.btn-orange {
		width: 100%;
	}

	.wrapper-login .btn.btn-success {
		width: 100%;
	}

	.wrapper-contact-us .btn.btn-orange {
		width: 100%;
	}

	#article-list.wrapper-food-list-vertical > .content .right-side > .box-description .header-text {
		margin-top: 10px;
	}

	.wrapper-food-list > .content > ul > li .box-header > img {
		width: 278px;
	}

	.modal-dialog {
		width: auto !important;
	}

	.wrapper-popular-user {
		padding: 15px;
	}

	.wrapper-popular-user ul li {
		text-align: center;
	}

	.wrapper-popular-user ul li a img {
		width: 100%;
		height: auto;
		margin-bottom: 10px;
		max-width: 200px;
	}
}

@media (min-width: 768px) { 
	.wrapper-food-list .content {
		text-align: center;
	}
	.wrapper-food-list .content ul li {
		max-width: 260px;
		width: 260px;
	}

	.wrapper-food-list-vertical > .content > ul > li .box-header > img {
		width:100%; 
		height:auto;
		max-height: 168px;
	}

	#cookmark.wrapper-food-list-vertical > .content .right-side > .box-description p.description {
		height: 80px;
	}
}

@media (width: 768px) { 
	.wrapper-popular-user ul li a img {
		width: 40px;
		height: auto;
	}
}

@media (max-width: 991px) { 
	.wrapper-create-recipe .holder-template textarea {
		height: 115px;
	}
}
@media (min-width: 429px) and (max-width: 991px) {
	.wrapper-create-recipe .list-material.holder-template .col-xs-4 {
		width: 98%;
		text-align: right;
	}
	.wrapper-create-recipe .list-material.holder-template .col-xs-2 {
		width: 90%;
		padding: 0 15px !important;
	}
	.wrapper-create-recipe .list-material.holder-template .custom-field {
		width: 90%;
		padding: 0 15px !important;
		margin-left: 30px;
		margin-top: 10px;
	}
	.wrapper-create-recipe .inputNumberField {
		width: 50%;
	}
}

@media (min-width: 992px) { 
	#cookmark.wrapper-food-list-vertical > .content .right-side > .box-description p.description {
		height: 100px;
	}
}

@media (min-width:769px) and (max-width: 1024px) { 
	.wrapper-popular-user ul li a img {
		width: 54px;
	}
}

@media print {
	a[href]:after {
		content: none !important;
	}
	.print-floleft {
		float: left !important;
	}
	.print-floright {
		float: right !important;
	}
}